# Domain
MY_DOMAIN=

# Containers volume path
CONTAINERS_PATH=

# Set docker containers' timezone (Country/City)
TIMEZONE=

# NordVPN
MAIN_NETWORK=
NORDLYNX_KEY=

# Jellyfin server
VIDEO_PATH=

# MariaDB password
MYSQL_ROOT_PASSWORD=

# RuTorrent / Sickchill
TORRENTS_PATH=

# Syncthing
SYNCTHING_PATH=

# Swag
SWAG_SUBDOMAINS=

# Vaultwarden
VAULT_TOKEN=
