# Environment variables
.env

# Container config folders
ddclient/
downloads/
homeassistant/
jellyfin/
mariadb/
postfix/
projectsend/
proxy/
rtorrent-rutorrent/
sickchill/
smokeping/
swag/
syncthing/
vaultwarden/


